body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: url('../public/assets/img/city-building-along-road-daytime.jpg') no-repeat center center fixed;
  background-size: cover; /* Cambiar a 'contain' para que la imagen se ajuste completamente */
  min-height: 100vh;
  font-family: Arial, sans-serif;
  overflow-x: hidden; /* Asegúrate de que no haya desplazamiento horizontal */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  background: #000000b3; /* Fondo semi-transparente negro */
  color: white; /* Texto blanco */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
  width: 100%;
}

.button-agregar {
  background-color: green; /* Fondo verde */
  color: white; /* Texto blanco */
}

.button-modificar {
  background-color: white; /* Fondo blanco */
  color: black; /* Texto negro */
}

.table-student {
  background-color: black; /* Fondo negro */
  color: white; /* Texto blanco */
}

.table-student th,
.table-student td {
  color: white; /* Texto blanco */
}